
.nv-sc {
  padding: 12px 0;
  background: rgba(3, 90, 109, 0.9);
}

header {
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
  background-color: #fcfafa;
  box-shadow: 0 1px 4px rgba(146, 161, 176, .15);
}

#header .logo {
  font-size: 28px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  letter-spacing: 1px;
}

#header .logo a {
  color: var(--nav-color)
}

.navbar {
  padding: 0;
}

.navbar a {
  align-items: center;
  color: var(--nav-color);
  font-weight: 600;
  padding: 0;
  transition: 0.3s;
  letter-spacing: 0.4px;
  position: relative;
  text-transform: uppercase;
}

.d4 {
  white-space: nowrap;
  padding: 10px 0 10px 30px;
}

.navbar-toggler {
  border-color: transparent;
}

@media screen and (max-width: 768px) {
  /*.navbar{*/
  /*  position: fixed;*/
  /*  top: var(--header-height);*/
  /*  right: -100%;*/
  /*  width: 80%;*/
  /*  height: 100%;*/
  /*  padding: 2rem;*/
  /*  background-color: var(--nav2-color);*/
  /*  transition: .5s;*/
  /*}*/
}


.nav-link:after {
  content: "";
  position: absolute;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  width: 0;
  background-color: var(--nav-color);;
  transition: all 0.3s ease-in-out 0s;
}

.nav-link:hover:after, .active:after {
  width: 80%;
}


/*=== Show menu ===*/
.show {
  right: 0;
}
