<header class="fixed-top" id="header">
  <div class="container d-flex align-items-center justify-content-between">
    <h1 class="logo"><a href="#">JCodeX</a></h1>

    <nav class="navbar navbar-expand-lg navbar-dark ">
      <div class="container-fluid d1">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d2" id="navbarSupportedContent">
          <div class="navbar-nav d3">
            <div class="d4 nav-item" *ngFor="let item of menuItems">
              <a class="nav-link " href="{{item.linkUrl}}">{{item.linkName}}</a>
            </div>

<!--            <a class="nav-link" href="#">About</a>-->
<!--            <a class="nav-link" href="#">Projects</a>-->
<!--            <a class="nav-link" href="#">Blogs</a>-->
<!--            <a class="nav-link" href="#">Contact</a>-->
          </div>

        </div>
      </div>
    </nav>
  </div>
</header>
