<!--==================== ABOUT ====================-->
<section class="about section" id="about">
  <h2 class="section_title">About Me</h2>
  <span class="section_subtitle"> My Introduction</span>

  <div class="about_container container grid">
    <img alt="" class="about_img" src="assets/img/about.jpg">

    <div class="about_data">
      <p class="about_description">Java Developer with extensive knowledge java programming language ang spring boot projects</p>

      <div class="about_info">
        <div>
          <span class="about_info-title">08+</span>
          <span class="about_info-name">Years <br> experience</span>
        </div>

        <div>
          <span class="about_info-title">20+</span>
          <span class="about_info-name">Completed <br> project</span>
        </div>

        <div>
          <span class="about_info-title">05+</span>
          <span class="about_info-name">Companies <br> worked</span>
        </div>
      </div>

      <div class="about_buttons">
        <a class="button button--flex" download="" href="assets/pdf/Jeremy_s_Resume.pdf">
          Download CV<i class="uil uil-download-alt button_icon"></i>
        </a>
      </div>
    </div>
  </div>
</section>
