<section class="container-fluid home bd-grid" id="home">
  <div class="home__data">
    <h1 class="home__title ">Hi,<br>I'am <span class="home__title-color">Jeremy Sam</span><br> Java Developer</h1>

    <div class="home__social">
      <a class="home__social-icon" href=""><i class='bx bxl-github'></i></a>
      <a class="home__social-icon" href=""><i class='bx bxl-linkedin'></i></a>
      <a class="home__social-icon" href=""><i class='bx bxl-twitter'></i></a>

    </div>
  </div>

  <div>
  </div>

  <div class="home__img">
    <img alt="" src="assets/img/perfil.png">
  </div>
</section>

