<!--==================== SKILLS ====================-->
<section class="skills section" id="skills">
  <h2 class="section_title">Skills</h2>
  <span class="section_subtitle">My technical level</span>

  <div class="skills_conatiner container grid">
    <div>
      <!--==================== SKILLS 1====================-->
      <div class="skills_content skills_open">
        <div #e1 (click)="toggleSkills(e1)" class="skills_header">
          <i class="uil uil-brackets-curly skills_icon"></i>

          <div>
            <h1 class="skills_title">Frontend Developer</h1>
            <span class="skills_subtitle">More than 4 years</span>
          </div>

          <i class="uil uil-angle-down skills_arrow"></i>
        </div>

        <div class="skills_list grid">
          <div class="skills_data">
            <div class="skills_titles">
              <h3 class="skills_name">HTML</h3>
              <span class="skills_number">90%</span>
            </div>
            <div class="skills_bar">
              <span class="skills_percentage skills_html"></span>
            </div>
          </div>

          <div class="skills_data">
            <div class="skills_titles">
              <h3 class="skills_name">CSS</h3>
              <span class="skills_number">80%</span>
            </div>
            <div class="skills_bar">
              <span class="skills_percentage skills_css"></span>
            </div>
          </div>

          <div class="skills_data">
            <div class="skills_titles">
              <h3 class="skills_name">JavaScript</h3>
              <span class="skills_number">60%</span>
            </div>
            <div class="skills_bar">
              <span class="skills_percentage skills_js"></span>
            </div>
          </div>

          <div class="skills_data">
            <div class="skills_titles">
              <h3 class="skills_name">React</h3>
              <span class="skills_number">85%</span>
            </div>
            <div class="skills_bar">
              <span class="skills_percentage skills_react"></span>
            </div>
          </div>
        </div>
      </div>

      <!--==================== SKILLS 2====================-->
      <div class="skills_content skills_close">
        <div #e2 (click)="toggleSkills(e2)" class="skills_header">
          <i class="uil uil-server-network skills_icon"></i>

          <div>
            <h1 class="skills_title">Backend Developer</h1>
            <span class="skills_subtitle">More than 2 years</span>
          </div>

          <i class="uil uil-angle-down skills_arrow"></i>
        </div>

        <div class="skills_list grid">
          <div class="skills_data">
            <div class="skills_titles">
              <h3 class="skills_name">PHP</h3>
              <span class="skills_number">80%</span>
            </div>
            <div class="skills_bar">
              <span class="skills_percentage skills_php"></span>
            </div>
          </div>

          <div class="skills_data">
            <div class="skills_titles">
              <h3 class="skills_name">Node JS</h3>
              <span class="skills_number">70%</span>
            </div>
            <div class="skills_bar">
              <span class="skills_percentage skills_node"></span>
            </div>
          </div>

          <div class="skills_data">
            <div class="skills_titles">
              <h3 class="skills_name">Firebase</h3>
              <span class="skills_number">90%</span>
            </div>
            <div class="skills_bar">
              <span class="skills_percentage skills_firebase"></span>
            </div>
          </div>

          <div class="skills_data">
            <div class="skills_titles">
              <h3 class="skills_name">Python</h3>
              <span class="skills_number">55%</span>
            </div>
            <div class="skills_bar">
              <span class="skills_percentage skills_python"></span>
            </div>
          </div>

        </div>
      </div>

    </div>

    <div>
      <!--==================== SKILLS 3====================-->
      <div class="skills_content skills_close">
        <div #e3 (click)="toggleSkills(e3)" class="skills_header">
          <i class="uil uil-swatchbook skills_icon"></i>

          <div>
            <h1 class="skills_title">Designer</h1>
            <span class="skills_subtitle">More than 5 years</span>
          </div>

          <i class="uil uil-angle-down skills_arrow"></i>
        </div>

        <div class="skills_list grid">
          <div class="skills_data">
            <div class="skills_titles">
              <h3 class="skills_name">Figma</h3>
              <span class="skills_number">90%</span>
            </div>
            <div class="skills_bar">
              <span class="skills_percentage skills_figma"></span>
            </div>
          </div>

          <div class="skills_data">
            <div class="skills_titles">
              <h3 class="skills_name">Sketch</h3>
              <span class="skills_number">85%</span>
            </div>
            <div class="skills_bar">
              <span class="skills_percentage skills_sketch"></span>
            </div>
          </div>

          <div class="skills_data">
            <div class="skills_titles">
              <h3 class="skills_name">Photoshop</h3>
              <span class="skills_number">85%</span>
            </div>
            <div class="skills_bar">
              <span class="skills_percentage skills_photoshop"></span>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
