/*==================== PORTFOLIO ====================*/
.project_conatainer{
  overflow: initial;
}

.project_content{
  padding: 0 1.5rem;
}

.project_img{
  width: 265px;
  border-radius: .5rem;
  justify-self: center;
}

.project_title{
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-5);
}

.project_description{
  margin-bottom: var(--mb-0-75);
}

.project_button:hover .button_icon{
  transform: translateX(.25rem);
}
