<!--==================== PROJECTS ====================-->
<section class="project section" id="projects">
  <h2 class="section_title">Project</h2>
  <span class="section_subtitle">Most recent work</span>

  <div class="project_container container swiper-container">
    <div class="swiper-wrapper">
      <!--==================== PROJECTS 1 ====================-->
      <div class="project_content grid swiper-slide">
        <img alt="" class="project_img" src="assets/img/portfolio1.jpg">

        <div class="project_data">
          <h3 class="project_title">Modern Website</h3>
          <p class="project_description">Somethong something we've to write here something, we'll think about it later
            about what to write something</p>
          <a class="button button--flex button--small project_button" href="#">
            Demo
            <i class="uil uil-arrow-right button_icon"></i>
          </a>
        </div>
      </div>

      <!--==================== PROJECTS 2 ====================-->
      <div class="project_content grid swiper-slide">
        <img alt="" class="project_img" src="assets/img/portfolio2.jpg">

        <div class="project_data">
          <h3 class="project_title">Brand Design</h3>
          <p class="project_description">Somethong something we've to write here something, we'll think about it later
            about what to write something</p>
          <a class="button button--flex button--small project_button" href="#">
            Demo
            <i class="uil uil-arrow-right button_icon"></i>
          </a>
        </div>
      </div>

      <!--==================== PROJECTS 3 ====================-->
      <div class="project_content grid swiper-slide">
        <img alt="" class="project_img" src="assets/img/portfolio3.jpg">

        <div class="project_data">
          <h3 class="project_title">Online Store</h3>
          <p class="project_description">Somethong something we've to write here something, we'll think about it later
            about what to write something</p>
          <a class="button button--flex button--small project_button" href="#">
            Demo
            <i class="uil uil-arrow-right button_icon"></i>
          </a>
        </div>
      </div>
    </div>
    <!-- Add Arrows -->
    <div class="swiper-button-next">
      <i class="uil uil-angle-right-b swiper-project-icon"></i>
    </div>
    <div class="swiper-button-prev">
      <i class="uil uil-angle-left-b swiper-project-icon"></i>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>
</section>
