<!--==================== QUALIFICATION ====================-->
<section class="qualification section">
  <h2 class="section_title">Qualification</h2>
  <span class="section_subtitle">My Personal Journey</span>

  <div class="qualification_container container">
    <div class="qualification_tabs">
      <div class="qualification_button button--flex">
        <i class="uil uil-graduation-cap qualification_icon"></i>
        Education
      </div>

      <div class="qualification_button button--flex">
        <i class="uil uil-briefcase-alt qualification_icon"></i>
        Work
      </div>
    </div>

    <div class="qualification_sections">
      <!--==================== QUALIFICATION CONTENT 1 ====================-->
      <div class="qualification_content">
        <!--==================== QUALIFICATION 1 ====================-->
        <div class="qualification_data">
          <div>
            <h3 class="qualification_title">Computer Engineer</h3>
            <span class="qualification_subtitle">Peru - University</span>
            <div class="qualification_calendar">
              <i class="uil uil-calendar-alt"></i>
              2016 - 2020
            </div>
          </div>
          <div>
            <span class="qualification_rounder"></span>
            <span class="qualification_line"></span>
          </div>
        </div>

        <!--==================== QUALIFICATION 2 ====================-->
        <div class="qualification_data">
          <div></div>

          <div>
            <span class="qualification_rounder"></span>
            <span class="qualification_line"></span>
          </div>

          <div>
            <h3 class="qualification_title">Web Design</h3>
            <span class="qualification_subtitle">Spain - Institute</span>
            <div class="qualification_calendar">
              <i class="uil uil-calendar-alt"></i>
              2014 - 2015
            </div>
          </div>
        </div>

        <!--==================== QUALIFICATION 3 ====================-->
        <div class="qualification_data">
          <div>
            <h3 class="qualification_title">Web Developmnet</h3>
            <span class="qualification_subtitle">Peru - University</span>
            <div class="qualification_calendar">
              <i class="uil uil-calendar-alt"></i>
              2020 - 2021
            </div>
          </div>
          <div>
            <span class="qualification_rounder"></span>
            <span class="qualification_line"></span>
          </div>
        </div>

        <!--==================== QUALIFICATION 4 ====================-->
        <div class="qualification_data">
          <div></div>

          <div>
            <span class="qualification_rounder"></span>
            <!--            <span class="qualification_line"></span>-->
          </div>

          <div>
            <h3 class="qualification_title">Master in UI/UX</h3>
            <span class="qualification_subtitle">Peru - University</span>
            <div class="qualification_calendar">
              <i class="uil uil-calendar-alt"></i>
              2021 - 2022
            </div>
          </div>
        </div>
      </div>

      <!--==================== QUALIFICATION CONTENT 2 ====================-->
      <div class="qualification_content">
        <!--==================== QUALIFICATION 1 ====================-->
        <div class="qualification_data">
          <div>
            <h3 class="qualification_title">Software Engineer</h3>
            <span class="qualification_subtitle">Microsoft - Peru</span>
            <div class="qualification_calendar">
              <i class="uil uil-calendar-alt"></i>
              2016 - 2018
            </div>
          </div>
          <div>
            <span class="qualification_rounder"></span>
            <span class="qualification_line"></span>
          </div>
        </div>

        <!--==================== QUALIFICATION 2 ====================-->
        <div class="qualification_data">
          <div></div>

          <div>
            <span class="qualification_rounder"></span>
            <span class="qualification_line"></span>
          </div>

          <div>
            <h3 class="qualification_title">Frontend Developer</h3>
            <span class="qualification_subtitle">Apple Inc - Spain</span>
            <div class="qualification_calendar">
              <i class="uil uil-calendar-alt"></i>
              2018 - 2020
            </div>
          </div>
        </div>

        <!--==================== QUALIFICATION 3 ====================-->
        <div class="qualification_data">
          <div>
            <h3 class="qualification_title">UI Designer</h3>
            <span class="qualification_subtitle">Figma - Spain</span>
            <div class="qualification_calendar">
              <i class="uil uil-calendar-alt"></i>
              2017 - 2019
            </div>
          </div>
          <div>
            <span class="qualification_rounder"></span>
            <!--            <span class="qualification_line"></span>-->
          </div>
        </div>

      </div>
    </div>
  </div>

</section>
